

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color:  burlywood;
        margin: 0;
        position: relative;
        padding-bottom: 3em;
        min-height: 100vh;
    
    }


.logo{
 text-decoration: none;
}
nav{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   

 

}
nav a {
    color: white;
    padding: 14px 20px;

}



nav ul li a{
    display: inline-block;
    text-decoration: none;
}

nav ul {
    display:flex;
    list-style: none;

}
    

   

table {
 width: 100%;
 
}

th, td {
    text-align: center;
}

img {
    width: auto;
}



.negrita1 {
    font-weight: bold;
    font-size: 40px;
    color: blueviolet;
}

.cursiva1 {
    font-style: italic;
    color: blueviolet;
}

.negrita2 {
    font-weight: bold;
    font-size: 40px;
    color: red;
}

.cursiva2 {
    font-style: italic;
    color: red;
}

.negrita3 {
    font-weight: bold;
    font-size: 40px;
    color: yellow
}

.cursiva3 {
    font-style: italic;
    color: yellow
}

.negrita4 {
    font-weight: bold;
    font-size: 40px;
    color: green;
}

.cursiva4 {
    font-style: italic;
    color: green;
}

.negrita5 {
    font-weight: bold;
    font-size: 40px;
    color: pink;
}

.cursiva5 {
    font-style: italic;
    color: pink;
}

.contacto{
    border : 2px solid grey;
    border-radius: 10px;
    margin-top: 0;
    padding-bottom: 300px;
    background-color: burlywood;
    width: 100%;
   text-align: center;
  
 
    
}

h1 {
    color:hwb(29 32% 12%);
   
}

.footer {
        background-color: grey;
        color: #fff;
        padding: 10px;
        text-align: center;
        bottom: 0px;
    width: 100%;
    position: absolute;
}


.footer ul li {
    list-style: none;
    margin: 20px;
}
    .footer ul {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
    
}


.footer a {
    text-decoration: none;
    
}

.alinearsexo {
   justify-content: center;
    margin-left: 35px;
}

#pais {  
background-color:aliceblue;
 padding: 4px;
}

.botones {
  padding:6px;


}

textarea {
     width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

h4 {
    margin-top: 20px;
}

.hero {
    background-image: url("casco.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative
}

.parrafo{
    text-align: center;
    width: 300px;
    padding-top: 7em;
    font-size: 2em;
}




.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.social-icons h2 {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .social-icons a {
    display: block;
    margin: 0 10px;
    font-size: 25px;
  }